@media screen and (min-width: 375px){
 .container {
    max-width: 375px;
 }
}

@media screen and (min-width: 768px){
 .container {
    max-width: 760px;
 }

 .services-item {
  max-width: 200px;
  padding-bottom: 30px;
}
}

@media screen and (min-width: 1100px){
 .container {
    max-width: 1050px;
 }

 .services-item {
  max-width: 270px;
  padding-bottom: 40px;
}
}