:root {
  --base-color: #151616;
}

body {
  font-family: Montserrat;
  color: white;
  background-color: var(--base-color);
}

p,
h1,
h2,
h3 {
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1050px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

/* =================header========================= */

.header-nav {
  display: flex;
  padding-top: 8px;
  padding-bottom: 13px;
  align-items: center;

}

.header-nav-list {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 100px;
}

.header-nav-item {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}


/* =======================hero====================== */
.hero-img-pink {
  display: flex;
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}

.hero-img {
  /* height: 513px;
  max-width: 957px;
  width: 100%; */
  background-image: url(./images/hero-back.png);
  background-repeat: no-repeat ;
  background-size: 101%;
}

.pink-block {
  height: 340px;
  max-width: 100px;
  width: 100%;
  background-color: #ED1260;
}

.hero-title-link {
  background-color: transparent;
  display: inline-block;
  margin-top: 80px;
  margin-left: 45px;
  margin-bottom: 217px;
  margin-right: 580px;
}

.hero-title-block {
  margin: 0 auto;
  background-color: black;
  display: block;
  width: 327px;
  margin-bottom: 19px;
}

.hero-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 50px 20px;
}

.hero-link-block {
  margin: 0 auto;
  background-color: black;
  height: 50px;
  width: 200px;
}

.hero-link {
  display: block;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: solid;
  padding: 15px 20px;
}

.hero-text {
  font-weight: 400;
  font-size: 25px;
  line-height: 120%;
  padding-left: 25px;
  padding-right: 50px;
  padding-top: 30px;
}