:root {
  --base-color: #151616;
}

body {
  font-family: Montserrat;
  color: white;
  background-color: var(--base-color);
}

p,
h1,
h2,
h3 {
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1050px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* border: 2px solid red; */
}

/* =================header========================= */

.header-nav {
  display: flex;
  padding-top: 8px;
  padding-bottom: 13px;
  align-items: center;
}

.header-nav-list {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 100px;
}

.header-nav-item {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

/* =======================hero====================== */

.hero-img-pink {
  display: flex;
}

.pink-block {
  padding-right: 100px;
  height: 350px;
  background-color: #ed1260;
}

.hero-title-link {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./images/hero-back.png);
  background-repeat: no-repeat;
  background-size: 101%;
  padding: 80px 570px 230px 45px;
}

.hero-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 50px 50px;
  background-color: black;
  margin-bottom: 19px;
}

.hero-link {
  display: inline-block;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: solid;
  padding: 15px 40px;
  background-color: black;
}

.hero-text {
  font-size: 25px;
  line-height: 120%;
  padding-left: 25px;
  padding-right: 50px;
  padding-top: 30px;
}

/* ======================services====================== */

.services-list {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.services-item {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  width: 100%;
  align-items: center;
  padding-bottom: 20px;
}

.services-item-img{
  width: 65px;
  height: 65px;
}

.services-item-text {
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  line-height: 130%;
  padding-top: 10px;
}

/* =====================map====================== */
.map {
  display: flex;
  justify-content: center;
}

.map-block {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border: 5px solid #ed1260;
}

.map-img {
  width: 515px;
  height: 230px;
}

.map-text {
  padding-top: 10px;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
}

/* =====================contacts====================== */

.contacts {
  padding-top: 60px;
  padding-bottom: 50px;
}

.contacts-title {
  font-weight: 400;
  font-size: 45px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.contacts-list {
  padding-top: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-items: flex-start;
}

.contacts-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.contacts-item-img {
  padding-bottom: 24px;
}

.contacts-item-text {
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-bottom: 8px;
}

.contacts-address {
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
